@model Rocky_Models.ViewModels.OrderVM
@using Rocky_Utility 

<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="backgroundWhite container">
        <div class="card">
            <div class="card-header bg-dark text-light ml-0 row container">
                <div class="col-12 d-none d-md-block col-md-6 pb-1">
                    <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right">
                    <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                </div>
            </div>
            <div class="card-body pb-0">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">PickUp Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Name</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.FullName" class="form-control" />
                                    <span asp-validation-for="OrderHeader.FullName" class="text-danger"></span>


                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Phone</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Address</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.StreetAddress" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">City</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.City" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">State</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.State" class="form-control" />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Zip Code</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.PostalCode" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">

                                    <input type="text" asp-for="OrderHeader.Email" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">

                                    <input type="text" value="@Model.OrderHeader.OrderDate.ToShortDateString()" class="form-control" readonly />

                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input id="shippingDate" value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Transaction ID</div>
                                <div class="col-9">
                                    <input type="text" asp-for="OrderHeader.TransactionId" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">Order Status</div>
                                <div class="col-9">
                                    <input type="text" asp-for="OrderHeader.OrderStatus" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-9 offset-3">
                                    <input type="submit" value="Update Order Details" class="btn btn-warning form-control"
                                           asp-action="UpdateOrderDetails" formmethod="post" />
                                </div>
                            </div>


                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @{ var orderTotal = 0.0; }
                                @foreach (var orderDetail in Model.OrderDetail)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-info">@orderDetail.Product.ProductName</h6>
                                                <small class="text-muted">Price: @orderDetail.PricePerSqFt</small><br />
                                                <small class="text-muted">Quantity : @orderDetail.Sqft</small>
                                            </div>
                                            <div class="col-4">
                                                <p class="text-success">$@(orderDetail.PricePerSqFt * orderDetail.Sqft)</p>
                                            </div>
                                        </div>
                                    </li>
                                    orderTotal += orderDetail.PricePerSqFt * orderDetail.Sqft;

                                }
                                <li class="list-group-item bg-info">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h5 class="text-white">@Model.OrderHeader.FinalOrderTotal</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                            <br />
                            @if (Model.OrderHeader.OrderStatus == Constants.StatusApproved)
                            {
                                <input type="submit" formmethod="post" asp-action="StartProcessing" value="Start Processing" class="btn btn-info form-control" />
                            }

                            @if (Model.OrderHeader.OrderStatus == Constants.StatusProcessing)
                            {
                                <input type="submit" formmethod="post" asp-action="ShipOrder" value="Ship Order" class="btn btn-primary form-control" />
                            }

                            @if (Model.OrderHeader.OrderStatus != Constants.StatusRefunded && Model.OrderHeader.OrderStatus != Constants.StatusCancelled)
                            {
                                <div class="pt-2">
                                    <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control" formmethod="post">
                                        Cancel Order
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
<script>
    $(document).ready(function () {
        var shippingDate = document.getElementById("shippingDate");
        if (shippingDate.value == "1/1/0001") {
            shippingDate.value = "";
        };
    });
</script>
}